body{
    width: 100vw;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}
.container{
    width:100vw;
    height: auto;
    top: -2521px;
    left: -720px;
    padding: 0px 48px 0px 48px;
    gap: 0px;
    opacity: 0px;
    background: #080F17;
    margin-left: 15px;
}

nav{
    display: flex;
    align-items: center;
    width: auto;
    height: 80px;
    gap: 0px;
    border-bottom: 1.5px;
    justify-content: space-between;
    background: #080F17;

}
.right-head{
    display: flex;
    justify-content: space-between;
    width: 462px;
    height: 32px;
    gap: 32px;

    
}
.left-head{
    width: 173px;
    height: 31px;
    gap: 0px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 42px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: -0.04em;
    text-align: left;
    color: #D6DDE6;

}
.fi{
    width: 83px;
    height: 32px;
    gap: 0px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 28px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #D6DDE6;
}
.se{
    width: 111px;
    height: 32px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 28px;
    font-weight: 500;
    line-height: 32px;
    text-align: left;
    color: #D6DDE6;
}
.th{
    width: 62px;
    height: 32px;
    gap: 0px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 28px;
    font-weight: 500;
    line-height: 32px;
    text-align: left;
    color: #D6DDE6;
}
.fo{
    width: 110px;
    height: 32px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 28px;
    font-weight: 500;
    line-height: 32px;
    text-align: left;
    color: #D6DDE6;
}
.head-border{
    width: 1500px;
    height: 0px;
    gap: 0px;
    opacity: 0px;
    border: 1.5px solid #FFFFFF33;
    padding-left: 0px;
    margin-left: 0px;
}
.main-container{
    width: Fill (1,344px)px;
    height: Hug (4,793px)px;
    padding: 48px 0px 48px 0px;
    gap: 0px;
}
.sub-main-container{
    width:1,344px;
    height: 4,697px;
    gap: 0px;
}
.landing-page-hero{
    width:1,344px;
    height: 1,152px;
    padding: 96px 0px 96px 0px;
    gap: 50px;
    border: 0px 0px 1.5px 0px;
    opacity: 0px;
    text-align: center;
}
.landing-page-hero .tex{
    width: 1344px;
    height: 240px;
    gap: 0px;
    margin-left: 4%;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 120px;
    font-weight: 700;
    line-height: 120px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #D6DDE6;
}
.landing-page-hero img{
    width: 1344px;
    height: 672px;
    gap: 0px;
    border-radius: 56px;
    border-top: 1.5px solid #D6DDE633;
    margin-top: 30px;
}
.personal-agency{
    display: flex;
    width: 1,344px;
    height: 1,333px;
    padding: 48px 0px 48px 0px;
    gap: 48px;
    border: 0px 0px 1.5px 0px;
    color: #080F17;
    justify-content: center;
}
.column-1,.column-2,.column-3{
    width: 416px;
    height: 1,237px;
    gap: 48px;
    opacity: 0px;
    color: #080F17;
    
}
.project-1,.project-2,.project-3,.project-4,.project-5,.project-6,.project-7,.project-8,.project-9{
    width: 416px;
    gap: 8px;
    opacity: 0px;
    margin-bottom: 48px;
}
.project-1{
    height: 379px;
}
.project-2{
    height:290px;
}
.project-3{
    height:472px;
}
.project-4{
    height:472px;
}
.project-5{
    height:379px;
}
.project-6{
    height:290px;
}
.project-7{
    height:290px;
}
.project-8{
    height:472px;
}
.project-9{
    height:379px;
}

.project-1 img,.project-2 img,.project-3 img,.project-4 img,.project-5 img,.project-6 img,.project-7 img,.project-8 img,.project-9 img{
    width: 416px;
    gap: 0px;
    border: 1.5px 0px 0px 0px;
    opacity: 0px;
    border-top: 1.5px solid #D6DDE633
}
.project-1 img{
    height: 323px;
}
.project-2 img{
    height: 234px;
}
.project-3 img{
    height: 416px;
}
.project-4 img{
    height: 416px;
}
.project-5 img{
    height: 323px;
}
.project-6 img{
    height: 234px;
}
.project-7 img{
    height: 234px;
}
.project-8 img{
    height: 416px;
}
.project-9 img{
    height: 323px;
}
.text-content{
    width:416px;
    height:48px;
    gap: 0px;
    opacity: 0px;
}
.alpha{
    width: 416px;
    height: 24px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #D6DDE6;
}
.art{
    width: 416px;
    height: 24px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #D6DDE69E;    
}
.portfolio-about{
    display: flex;
    width:1,344px;
    height:400px;
    gap: 0px;
    opacity: 0px;
    background: #080F17;
    justify-content:center;
}
.about{
    width: 900px;
    height: 208px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 48px;
    font-weight: 500;
    line-height: 52px;
    letter-spacing: -0.01em;
    text-align: center;
    color: #D6DDE6;
}
.landing-page-single{
    width: 1,344px;
    height:1,112px;
    padding: 48px 0px 48px 0px;
    gap: 48px;
    border: 0px 0px 1.5px 0px;
    opacity: 0px;
    background: #080F17;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}
.landing-page-single img{
    display: flex;
    justify-content: center;
    width: 1344px;
    height: 756px;
    gap: 0px;
    border: 1.5px 0px 0px 0px;
    opacity: 0px;
    border-top: 1.5px solid #D6DDE633

}
.divider{
    width: 1537px;
    height: 0px;
    gap: 0px;
    border: 1.5px 0px 0px 0px;
    opacity: 0px;
    border: 1.5px solid #FFFFFF33;    
}
.div{
    width: 1,344px;
    height:212px;
    gap: 48px;
    opacity: 0px;   
}
.textcontent{
    width: 1,260px;
    height:116px;
    max-width: 1260px;
    gap: 16px;
    opacity: 0px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.onee{
    width: 1260px;
    height: 68px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 68px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #D6DDE6;

}
.twoo{
    width: 1260px;
    height: 32px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.005em;
    text-align: center;
    color: #D6DDE6; 
}
.Button{
    width: auto;
    height: 48px;
    padding: 12px 24px 12px 24px;
    gap:0;
    border-radius: 8px;
    opacity: 0px;
    background: #A7EE43;
    text-align: center;
}
.onboarding{
    width: 1,344px;
    height:700px;
    min-height: 700px;
    padding: 200px 0px 0px 0px;
    gap: 48px;
    opacity: 0px;
    background: #080F17; 
    display: flex;
    justify-content:center; 
}
.mainContainer{
    width: Fixed (400px)px;
    height: Hug (248px)px;
    gap: 32px;
    opacity: 0px;    
}
.Instruction-Container{
    width: 400px;
    height:32px;
    gap: 8px;
    opacity: 0px;
    
}
.textt{
    width: 400px;
    height: 32px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.01em;
    text-align: center;
    color: #D6DDE6;        
}
.Input-Container{
    width: Fixed (600px)px;
    height: Hug (64px)px;
    gap: 12px;
    opacity: 0px;    
}
.hello{
    display: flex;
    justify-content: center;
    gap: 16px;

}
.input{
    width: Fixed (56px)px;
    height: Fixed (64px)px;
    padding: 8px 16px 8px 16px;
    gap: 0px;
    border-radius: 8px;
    border: 1.5px;
    opacity: 0px;
    background: #FFFFFF0A;
    border: 1.5px solid #FFFFFF33;
    margin-top: 36px;
    text-align: center;
}
.input-textt{
    text-align: center;
    width: 15px;
    height: 24px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #D6DDE666;
    padding: 6px;
    margin: 5px 0px;
}
.buttonFilledStandard{
    width: Fill (400px)px;
    height: Hug (36px)px;
    padding: 8px 16px 8px 16px;
    gap: 0px;
    border-radius: 8px;
    opacity: 0px;
    background: #A7EE43;
    display: flex;
    justify-content: center;
    margin-top: 36px;
    
}
.submit{
    width: 53px;
    height: 20px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #000A14;
}
.skip{
    width: 32px;
    height: 20px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color:#C1F17E;   
}
.center{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
.personal-footer{
    width: Fill (1,344px)px;
    height: Hug (168px)px;
    padding: 96px 0px 24px 0px;
    gap: 24px;
    border: 1.5px 0px 0px 0px;
    opacity: 0px;
    background: #080F17;    
}
.footer-container{
    width: Fill (1,344px)px;
    height: Hug (48px)px;
    gap: 0px;
    justify: space-between;
    opacity: 0px;  
    display: flex;
    justify-content:space-between;  
}
.page-link{
    width: Hug (192px)px;
    height: Hug (32px)px;
    gap: 32px;
    opacity: 0px;    
    margin-bottom: 15px;
}
.footer-text-left{
    width: 192px;
    height: 32px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 28px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #D6DDE69E;    
}
.buttonlarge{
    width: Hug (146px)px;
    height: Hug (48px)px;
    padding: 12px 24px 12px 24px;
    gap: 0px;
    border-radius: 8px;
    border: 1.5px;
    opacity: 0px;
    border: 1.5px solid #D6DDE633;
    margin-bottom: 15px;   
}
.footer-text-right{
    width: 98px;
    height: 24px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #D6DDE6;        
}



@media (max-width: 1025px) {
    .container {
        padding: 16px;
    }
    .left-head {
        font-size: 50px;
    }
    .fi, .se, .th, .fo {
        font-size: 28px;
    }
    .landing-page-hero .tex {
        font-size: 80px;
    }
    .landing-page-hero img {
        width: 100%;
        height: auto;
    }
    .personal-agency {
        flex-direction: row;
    }
    .column-1, .column-2, .column-3 {
        width: 100%;
    }
    .project-1 img,
    .project-2 img,
    .project-3 img,
    .project-4 img,
    .project-5 img,
    .project-6 img,
    .project-7 img,
    .project-8 img,
    .project-9 img {
        width: 100%;
        height: auto;
    }
    .portfolio-about {
        flex-direction: row;
    }
    .about {
        font-size: 46px;
    }
    .landing-page-single{
        
    }
    .onee {
        /* margin-right: 2.5em; */
        font-size: 65px;
        margin-bottom: 0.5em;
    }
    .twoo{
        /* margin-right: 2em; */
        font-size: 34px;
        margin-bottom:0.5em;
    }
    .textcontent {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        text-align: center;
        /* padding-left: 10%; */

    }
    .Button {
        /* margin-right: 9em; */
        width: auto;
        font-size: 25px;
        padding-bottom: 4%;
        line-height: 1.5;

    }
    .textt{
        font-size: 3em;
    }
    .buttonFilledStandard{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 4vh;
        width: 8em;
        margin-left: 7.5em;
    }
    .submit{
        
        width: auto;
        font-size: 25px;
        /* font-weight: bold; */
    }
    .skip{
        font-size: 25px;
        margin-right: 1em;
    }
    .footer-text-left{
        width: 100%;
        font-size: 50px;
    }
    .footer-text-right{
        font-size: 45px;
        width: 100%;
    }
    .buttonlarge{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15em;
        height: 4em;
    }


}

/* For Mobile Devices */
@media (max-width: 601px) {
    body {
        flex-direction: column;
        /* justify-content: center; */
    }
    .container{
        justify-content: center;
    }
    nav{
        flex-direction: column;
        align-items: flex-start;
    }
    .right-head {
        flex-direction: column;
        align-items: flex-start;
        /* font-size: 67px; */
        margin-top: 5%;
    }
    .left-head {
        font-size: 75px;
    }
    .fi, .se, .th, .fo {
        margin-left: 40px;
        text-align: left;
        transform: scale(1.5);
        font-size: 25px;
        
    }
    .landing-page-hero .tex {
        margin-left: 0;
        text-align: center;
        width: 100%;
        padding-top: 15%;
        font-size: 90px;
    }
    .landing-page-hero img {
        width: 100%;
        height: auto;
    }
    .personal-agency {
        flex-direction: column;
        margin-left: 40%;
        height: auto;
    }
    .column-1, .column-2, .column-3 {
        width: 100%;
        height: auto;
    }
    .project-1 img,
    .project-2 img,
    .project-3 img,
    .project-4 img,
    .project-5 img,
    .project-6 img,
    .project-7 img,
    .project-8 img,
    .project-9 img {
        width: 100%;

        height: auto;
    }
    .project-1,
    .project-2,
    .project-3,
    .project-4,
    .project-5,
    .project-6,
    .project-7,
    .project-8,
    .project-9{
        transform: scale(1.5);
        margin-top: 25%;
        padding: auto;
    }
    .portfolio-about {
        flex-direction: column;
        justify-content: center;
    }
    .about {
        width: 100%;
        font-size: 55px;
        text-align: left;
    }
    .onee{
        font-size: 36px;
        transform: scale(2);
        margin-left: 10%;
    }
    .twoo{
        font-size: 40px;
        margin-left: 10%;
    }
    .textcontent {
        margin-bottom: 100%;
        width: 90%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Button {
        text-align: center;
        margin-left:10% ;
        font-size: 30px;
        padding-bottom: 5%;
        font-weight: bold;
    }
    .footer-container {
        flex-direction: column;
        align-items: center;
    }
    .page-link {
        text-align: center;
    }
    
}