html{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
body{
    background-color: black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.container{
    width:fit-content;
    height: auto;
    top: -2521px;
    left: -720px;
    padding: 0px 48px 0px 48px;
    gap: 0px;
    opacity: 0px;
    background: #080F17;
    /* display: flex;
    flex-wrap: wrap; */
}

nav{
    display: flex;
    align-items: center;
    width: Fill (1,344px)px;
    height: Hug (80px)px;
    padding: 16px 0px 16px 0px;
    gap: 0px;
    border: 0px 0px 1.5px 0px;
    justify-content: space-between;
    opacity: 0px;
    background: #080F17;
}
.right-head{
    display: flex;
    justify-content: space-between;
    width: Hug (462px)px;
    height: Hug (32px)px;
    gap: 32px;
    opacity: 0px;
    
}
.left-head{
    width: 173px;
    height: 31px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 42px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: -0.04em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #D6DDE6;

}
.fi{
    width: 83px;
    height: 32px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 28px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #D6DDE6;
}
.se{
    width: 111px;
    height: 32px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 28px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #D6DDE6;
}
.th{
    width: 62px;
    height: 32px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 28px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #D6DDE6;
}
.fo{
    width: 110px;
    height: 32px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 28px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #D6DDE6;
}
.head-border{
    width: 1500px;
    height: 0px;
    gap: 0px;
    border: 1.5px 0px 0px 0px;
    opacity: 0px;
    border: 1.5px solid #FFFFFF33;
    padding-left: 0px;
    margin-left: 0px;
}
.main-container{
    width: Fill (1,344px)px;
    height: Hug (4,793px)px;
    padding: 48px 0px 48px 0px;
    gap: 0px;
    opacity: 0px;
}
.sub-main-container{
    width: Fill (1,344px)px;
    height: Hug (4,697px)px;
    gap: 0px;
    opacity: 0px;
}
.landing-page-hero{
    width: Fill (1,344px)px;
    height: Hug (1,152px)px;
    padding: 96px 0px 96px 0px;
    gap: 50px;
    border: 0px 0px 1.5px 0px;
    opacity: 0px;
    text-align: center;
}
.landing-page-hero .tex{
    width: 1344px;
    height: 240px;
    gap: 0px;
    margin-left: 4%;
    opacity: 0px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 120px;
    font-weight: 700;
    line-height: 120px;
    letter-spacing: -0.02em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #D6DDE6;
}
.landing-page-hero img{
    
    width: 1344px;
    height: 672px;
    gap: 0px;
    border-radius: 56px;
    border: 1.5px 0px 0px 0px;
    opacity: 0px;
    border-top: 1.5px solid #D6DDE633;
    margin-top: 30px;
}
.personal-agency{
    display: flex;
    width: Fill (1,344px)px;
    height: Hug (1,333px)px;
    padding: 48px 0px 48px 0px;
    gap: 48px;
    border: 0px 0px 1.5px 0px;
    opacity: 0px;
    color: #080F17;
    justify-content: center;
}
.column-1,.column-2,.column-3{
    width: Fill (416px)px;
    height: Hug (1,237px)px;
    gap: 48px;
    opacity: 0px;
    color: #080F17;
    
}
.project-1,.project-2,.project-3,.project-4,.project-5,.project-6,.project-7,.project-8,.project-9{
    width: Fixed (416px)px;
    gap: 8px;
    opacity: 0px;
    margin-bottom: 48px;
}
.project-1{
    height: Fixed (379px)px;
}
.project-2{
    height: Fixed (290px)px;
}
.project-3{
    height: Fixed (472px)px;
}
.project-4{
    height: Fixed (472px)px;
}
.project-5{
    height: Fixed (379px)px;
}
.project-6{
    height: Fixed (290px)px;
}
.project-7{
    height: Fixed (290px)px;
}
.project-8{
    height: Fixed (472px)px;
}
.project-9{
    height: Fixed (379px)px;
}

.project-1 img,.project-2 img,.project-3 img,.project-4 img,.project-5 img,.project-6 img,.project-7 img,.project-8 img,.project-9 img{
    width: 416px;
    gap: 0px;
    border: 1.5px 0px 0px 0px;
    opacity: 0px;
    border-top: 1.5px solid #D6DDE633
}
.project-1 img{
    height: 323px;
}
.project-2 img{
    height: 234px;
}
.project-3 img{
    height: 416px;
}
.project-4 img{
    height: 416px;
}
.project-5 img{
    height: 323px;
}
.project-6 img{
    height: 234px;
}
.project-7 img{
    height: 234px;
}
.project-8 img{
    height: 416px;
}
.project-9 img{
    height: 323px;
}
.text-content{
    width: Fill (416px)px;
    height: Hug (48px)px;
    gap: 0px;
    opacity: 0px;
}
.alpha{
    width: 416px;
    height: 24px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #D6DDE6;
}
.art{
    width: 416px;
    height: 24px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #D6DDE69E;    
}
.portfolio-about{
    display: flex;
    width: Fill (1,344px)px;
    height: Hug (400px)px;
    padding: 96px 0px 96px 0px;
    gap: 0px;
    opacity: 0px;
    background: #080F17;
    justify-content:center;
}
.about{
    width: 900px;
    height: 208px;
    max-width: 900px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 48px;
    font-weight: 500;
    line-height: 52px;
    letter-spacing: -0.01em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #D6DDE6;
}
.landing-page-single{
    width: Fill (1,344px)px;
    height: Hug (1,112px)px;
    padding: 48px 0px 48px 0px;
    gap: 48px;
    border: 0px 0px 1.5px 0px;
    opacity: 0px;
    background: #080F17;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}
.landing-page-single img{
    display: flex;
    justify-content: center;
    width: 1344px;
    height: 756px;
    gap: 0px;
    border: 1.5px 0px 0px 0px;
    opacity: 0px;
    border-top: 1.5px solid #D6DDE633

}
.divider{
    width: 1537px;
    height: 0px;
    gap: 0px;
    border: 1.5px 0px 0px 0px;
    opacity: 0px;
    border: 1.5px solid #FFFFFF33;    
}
.div{
    width: Fill (1,344px)px;
    height: Hug (212px)px;
    gap: 48px;
    opacity: 0px;   
}
.textcontent{
    width: Fill (1,260px)px;
    height: Hug (116px)px;
    max-width: 1260px;
    gap: 16px;
    opacity: 0px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.onee{
    width: 1260px;
    height: 68px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 68px;
    letter-spacing: -0.02em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #D6DDE6;

}
.twoo{
    width: 1260px;
    height: 32px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.005em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;  
    color: #D6DDE6; 
}
.Button{
    width: auto;
    height: Hug (48px)px;
    padding: 12px 24px 12px 24px;
    gap:0;
    border-radius: 8px;
    opacity: 0px;
    background: #A7EE43;
    text-align: center;
}
.onboarding{
    width: Fill (1,344px)px;
    height: Hug (700px)px;
    min-height: 700px;
    padding: 200px 0px 0px 0px;
    gap: 48px;
    opacity: 0px;
    background: #080F17; 
    display: flex;
    justify-content:center; 
}
.mainContainer{
    width: Fixed (400px)px;
    height: Hug (248px)px;
    gap: 32px;
    opacity: 0px;    
}
.Instruction-Container{
    width: Fill (400px)px;
    height: Hug (32px)px;
    gap: 8px;
    opacity: 0px;
    
}
.textt{
    width: 400px;
    height: 32px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.01em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #D6DDE6;        
}
.Input-Container{
    width: Fixed (600px)px;
    height: Hug (64px)px;
    gap: 12px;
    opacity: 0px;    
}
.hello{
    display: flex;
    justify-content: center;
    gap: 16px;

}
.input{
    width: Fixed (56px)px;
    height: Fixed (64px)px;
    padding: 8px 16px 8px 16px;
    gap: 0px;
    border-radius: 8px;
    border: 1.5px;
    opacity: 0px;
    background: #FFFFFF0A;
    border: 1.5px solid #FFFFFF33;
    margin-top: 36px;
    text-align: center;
}
.input-textt{
    text-align: center;
    width: 15px;
    height: 24px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #D6DDE666;
    padding: 6px;
    margin: 5px 0px;
}
.buttonFilledStandard{
    width: Fill (400px)px;
    height: Hug (36px)px;
    padding: 8px 16px 8px 16px;
    gap: 0px;
    border-radius: 8px;
    opacity: 0px;
    background: #A7EE43;
    display: flex;
    justify-content: center;
    margin-top: 36px;
    
}
.submit{
    width: 53px;
    height: 20px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #000A14;
}
.skip{
    width: 32px;
    height: 20px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color:#C1F17E;   
}
.center{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
.personal-footer{
    width: Fill (1,344px)px;
    height: Hug (168px)px;
    padding: 96px 0px 24px 0px;
    gap: 24px;
    border: 1.5px 0px 0px 0px;
    opacity: 0px;
    background: #080F17;    
}
.footer-container{
    width: Fill (1,344px)px;
    height: Hug (48px)px;
    gap: 0px;
    justify: space-between;
    opacity: 0px;  
    display: flex;
    justify-content:space-between;  
}
.page-link{
    width: Hug (192px)px;
    height: Hug (32px)px;
    gap: 32px;
    opacity: 0px;    
    margin-bottom: 15px;
}
.footer-text-left{
    width: 192px;
    height: 32px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 28px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #D6DDE69E;    
}
.buttonlarge{
    width: Hug (146px)px;
    height: Hug (48px)px;
    padding: 12px 24px 12px 24px;
    gap: 0px;
    border-radius: 8px;
    border: 1.5px;
    opacity: 0px;
    border: 1.5px solid #D6DDE633;
    margin-bottom: 15px;   
}
.footer-text-right{
    width: 98px;
    height: 24px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #D6DDE6;        
}